
    /* большие экраны свыше 1200px, планшеты (768 - 922 px) и смартфоны (320px - 480px) */
    @media all and (min-width: 1025px) and (max-width: 1116px) {
        .menu_list {
            margin: 32px 0;
        }
        .menu_list li a {
            position: relative;
            padding: 0 5px 0 5px;
        }
    }

    /*======== menu_list ===========*/
    @media all and (max-width: 1024px) {
        .menu_list {
            display: block;
            top: 0;
            margin: 0 auto;
            float: left;
            background-color: white;
            padding: 10px 10px 5px 0;
            position: relative;
        }

        .navigation {
            cursor: pointer;
            display: inline-block;
            width: 30px;
            height: 30px;
            position: absolute;
            right: 0;
            top: 38px;
            padding-right: 15px;
        }
        .menu ul li {
            display: block;
            float: none;
            list-style-type: none;
            padding-bottom: 10px;
        }
        .info_boks {
            display: block;
            position: relative;
            top: 0;
            float: left;
            width: auto;
            background-color: white;
            padding: 52px 20px 27px 16px;
        }
        .info_boks li a {
            padding: 0 0 4px 0;
            background-repeat: no-repeat;
        }
        .search {
             margin-top: 0;
        }
        .shoppingcart {
            margin-top: 0;
        }
        .menu-about {
            display: block;
            background-color: white;
            top: 0;
            margin: 0 auto;
            float: left;
            padding: 52px 25px 47px 0;
            position: relative;
            font-family: 'Lato', sans-serif;
            font-size: 14px;
            font-weight: bold;
        }
        .menu-about li a{
            padding: 0 0 0 11px;
            display: block;
        }
        #inner-userpic img {
            display: block;
            margin-top: 15px;
        }

        #menu-all {
            position: absolute;
            top: 98px;
            left: 0;
            overflow: hidden;
            width: 0;
            transition: 0.5s;
            height: 231px;
        }
        #menu-all.active {
            width:293px;
            transition: 0.6s;
            box-shadow: 0 0 10px rgba(0,0,0,0.5);
        }
    }


    @media all and (max-width: 320px) {
    .block-literature {
        float: none;
        width: 100%;
    }
}

        /*======= article ============*/

    @media all and (max-width:767px) {
        .shopfrontmenu {
            padding-left: 10px;
        }
        .inner-container {
            max-width: 96%;
        }
        .literature_news_autor {
            padding-left: 10px;
        }
        /*.navigation {*/
            /*right: -50px;*/
        /*}*/
        .article-right img {
            /*margin-top: 50px;*/
            width: 100%;
            float: none;
        }
        .section-left {
            width: 100%;
            float: none;
        }
        .section-right {
            width: 100%;
            float: none;
        }


        .article-right {
            float: none;
        }
        #id-product {
            overflow: scroll;
        }
        .leftpart {
            float: none;
            width: 100%;
        }
        .rightpart {
            margin-top: 59px;
            float: none;
            width: 100%;
        }
        .shipping_right {
            text-align: right;
            width: 100%;
            float: none;
            margin-bottom: 40px;
        }
        #cart {
            padding-left: 10px;
        }
        /*.shipping-method {*/
            /*padding-left: 10px;*/
        /*}*/
        .payment {
            width: 100%;
            margin: 0;
            /* margin-top: 25px; */
        }
        .input-text-inner {
            max-width: 240px;
        }
        .input-text-inner textarea[placeholder] {
            max-width: 240px;
        }
        .coupon-form {
            width: 100%;
            float: none;
        }
        .background_books {
            margin-top: 55px;
            height: auto;
        }
        .discount {
            width: 100%;
            text-align: center;
            margin: 0 auto;
            padding: 50px 0 100px 0;
            background-color: white;
            position: static;
        }
        .img-literature img {
            width: 95%;
        }
        .block-literature {
            float: none;
            width: 95%;
        }
        .popwrites {
            margin: 115px 0 0 0;
            width: 100%;
        }
        .book-item {
            /*padding: 0;*/
            margin: 0 auto;
            width: 80%;
            float: none;
            text-align: left;
            display: block;

        }
        .literature_writes {
            padding: 45px 0 20px 0;
            width: 100%;
        }
        .bookslide {
            display: none;
        }
        .book-title {
            text-align: left;
        }
        .book-title a {
            text-align: left;
        }
        .container_wrap {
           display: none;
        }
        .social_icon ul li {
            padding: 10px 10px 0 0;
        }
        .subscribe-form input {
            max-width: 79px;
        }
        .article-left {
            width: 95%;
        }
        .menu {
            z-index: 0;
            /* max-width: 300px; */
            margin: auto 10px;

        }
        .feature-image img {
            width: 100%;
        }

        #wrap-login {
            top: 50px;
            margin: 0 auto;
            max-width: 300px;
            max-height: 755px;
            position: absolute;
        }
        #wrap-login .transp-back-wrap-login {
            width: 287px;
            height: auto;
            margin-top: -60px;
            margin-left: -50px;
        }
        .rectangle-arrow {
            left: 245px;
        }
        .inner-checkbox-remember {
            float: none;
        }
        .forgot-password {
            float: none;
        }
        .inner-login-password input {
            padding-top: 25px;
        }
        .inner-login-form {
            margin-top: 25px;
        }
        .input-create {
            margin: 0 auto;
        }
        .input-create {
            width: 140px;
        }
        .literature_news {
            width: 100%;
            height: auto;
            margin: 80px auto;
        }
        .literature_news ul li {
            width: 100%;
            padding: 35px 1px 10px 1px;
        }
        .shopfrontmenuright {
            float: left;
        }
        .block_news {
            width: 100%;
            padding: 0 1px 30px 0;
            float: none;
        }
        .discount_procent {
            padding: 10px 20px 75px 20px;
            width: 70%;
        }
        .container_button {
            padding-top: 50px;
            margin: 0 auto;
            text-align: center;
        }
        .description {
            margin: 0 auto;
            padding-bottom: 40px;
            float: none;
            width: 90%;
        }
        .partners {
            float: none;
            width: 100%;
            margin: 50px auto;
        }
        .partners_block li {
            text-align: center;
            width: 90%;
            display: inline-block;
        }
        .presentation_book {
            width: 90%;
        }
        .presentation_text {
            float: none;
            width: 100%;
            margin: 82px 0 0px 20px;
        }
        .shopfrontmenuleft ul li a:hover {
            padding-bottom: 6px;
        }
        .shopfrontmenuleft ul li a {
            padding-bottom: 0;
            float: none;
        }
        .presentation_book_img {
            height: auto;
            left: -13px;
            right: 34px;
            position: relative;
            bottom: -18px;
        }
        .section_about_autor {
            text-align: right;
            padding: 35px 10px;
            width: 78%;
            float: none;
        }
        .section_photo_autor img {
            width: 85% !important;
            height: auto !important;
        }
        .section_photo_autor {
            float: none;
        }
        .section_book_autor {
            position: relative;
            width: 100%;
            float: none;
        }
        .section_book_autor {
            position: relative;
            width: 95%;
            float: none;
            margin: 0 auto;
        }
        .list_book {
            width: 73%;
            margin: 0 auto;
        }
        .books {
            margin: 0 auto;
            float: none;
            width: 100%;
        }
        .count-form-inner {
            width: 95%;
            margin: 0 auto;
            padding: 80px 0;
        }
        .coupon-wrap {
            width: 100%;
            float: none;
        }
        .proceed-payment {
            margin: 0 -13px;
            padding-left: 10px;
        }
        .proceed-wrap {
            padding-top: 110px;
            float: none;
            margin: 0 auto;
        }
        .menu {
            text-align: right;
            z-index: 1;
            height: 100px;
        }
        .footer_section_active {
            float: none;
            width: 90%;
        }
        .footer_content {
            width: 83%;
            padding-top: 35px;
        }
        .menu_futer ul li {
            width: 100%;
            padding: 15px 10px 0 0;
        }

        .switch-blog {
            margin-top: 40px;
            margin-left: 10px;
        }
        .menu_logo {
            margin: 20px 0 0 10px;
            height: 26px;
        }
        .menu_futer {
            width: 83%;
        }
        .related-author {
            float: none;
        }
        .wrap-footer {
            /*height: 100%;*/
        }
        .footer_section_about {
            width: 100%;
            margin: 0 0 30px 0;
        }
        .section_box p {
            line-height: 17px;
        }
        .footer_section_box {
            width: 77%;
            padding-top: 50px;
            float: none;
            margin: 0 auto;
        }
        .section_about_header {
            float: none;
            margin: 0 auto;
            width: 95%;
        }
        .footer_section_active {
            width: 90%;
            padding-top: 13px;
            float: none;
            margin: 0 auto;
        }
        .footer_social {
            width: 80%;
            /*margin: 0 57px 10px 57px;*/
            float: none;
        }
        .footer-info-left {
            float: left;
            width: 40%;
        }
        .footer-info-right {
            width: 60%;
            margin-top: 17px;
        }
        .single-post-header h1 {
            /*font-size: 35px;*/
            line-height: 40px;
            padding-top: 34px;
            padding-left: 10px;
        }
        .article-container {
            display: inline-block;
            width: 90%;
        }
        .single-post-header {
            width: 97%;
        }
        .article-text {
            /*display: inline-block;*/
            max-width: 90%;
        }
        .proceed-wrap {
            width: 90%;
        }

        .article-figcaption {
            width: 100%;
        }
        .article-figcaption-next {

            width: 100%;
        }
        .post-content {
            width: 90%;
        }
        .related-item img{
            float: none;
            width: auto;
            padding: 20px 25px 25px 0;
        }
        .related-item {
            padding-left: 25px;
            margin: 0;
            width: 100%;
            display: inline-block;
        }
        .related-item a {
            float: left;
            /*font-size: 16px;*/
            line-height: 17px;
        }
        .post-users {
            width: 85%;
        }
        .relation-post {
            width: 100%;
            padding-bottom: 35px;
        }
        .post-comments {
            padding-top: 90px;
            width: 100%;
        }
        .show-href {
            width: 100%;
        }
        .article-form {
            width: 80%;
        }
        .section_box {
            text-align: left;
            width: 100%;
        }

        .article-name {
            padding-left: 10px;
            /*font-size: 10px;*/
        }
        .article-date:before{
            vertical-align: middle;
            margin: 0 11px 0 16px;
        }
        .margin-text {
            margin-bottom: 45px;
        }
        /*.post-content blockquote {*/
            /*font-size: 17px;*/
            /*line-height: 26px;*/
        /*}*/
        /*.post-content h2 {*/
            /*font-size: 37px;*/
            /*line-height: 49px;*/
        /*}*/
        /*.post-content h3 {*/
            /*font-size: 25px;*/
            /*line-height: 43px;*/
        /*}*/
        /*.text-about-story h4 {*/
            /*font-size: 21px;*/
            /*line-height: 48px;*/
        /*}*/
        /*.text-about-story li {*/
            /*font-size: 21px;*/
            /*line-height: 26px;*/
            /*margin: 0 10px;*/
        /*}*/
        .article-block h5 {
            line-height: 18px;
        }
        .article-block {
            width: 100%;
            float: none;
        }
        .inner-article-block {
            padding-bottom: 46px;
        }
        .single-comment img {
            float: left;
            padding-right: 6px;
        }
        .answer-comment {
            /*padding: 40px 0 60px 30px;*/
            float: right;
        }
        .answer-comment img {
            float: left;
            padding-right: 10px;
        }

    }

    @media all and (min-width: 768px) and (max-width:991px) {
        .section-left {
            width: 100%;
            float: none;
        }
        .section-right {
            width: 100%;
            float: none;
        }

        #id-product {
            overflow: scroll;
        }
        .coupon-form {
            width: 100%;
            float: none;
        }
        .container_wrap {
            display: none;
        }
        .container-sm {
            width: 89%;
            margin: 0 auto;
        }
        .presentation_books {
            margin-top: 225px;
        }
        .menu {
            /*z-index: 0;*/
            width: 740px;
            /*margin: auto;*/
            left: 50%;
            margin-left: -370px;
        }
        .feature-image img {
            width: 100%;
        }
        .presentation_book {
            width: 90%;
            float: none;
            margin: 0 auto;
        }
        .presentation_book_img {
            padding-bottom: 45px;
        }
        .presentation_text {
            float: left;
            width: 49%;
            margin: 80px 10px 35px 35px;
        }
        .book-item {
            padding-left: 15px;
            padding-top: 40px;
        }
        .popwrites {
            margin: 130px 0 0 0;
        }
        .books {
            padding-left: 45px;
            width: 100%;
            padding-top: 40px;
            margin: 0 auto;
        }
        .style-cover-img {
            top: 40px;
            left: 15px;
        }
        .inner-container {
            width: 745px;
        }
        .shopfrontmenu {
            font-size: 13px;
            margin: 0 auto;
            width: 95%;
            padding-top: 40px;
        }
        .section_about_autor {
            width: 35%;
            float: left;
        }
        .section_photo_autor {
            padding: 0 50px;
            float: right;
            width: 46%;
        }
        .block-literature {
            width: 100%;
        }
        .img-literature img {
            width: 97%;
            margin: 0 auto;
        }
        .literature_news_autor {
            float: none;
            width: 97%;
        }
        .block_news {
            width: 100%;
            padding: 0 50px 50px 10px;
            display: inline-block;
        }
        .publishers {
            height: auto;
            padding-bottom: 60px;
        }
        .description {
            float: none;
            width: 80%;
            margin: 40px auto;
        }

        .literature_news {
            width: 100%;
            margin: 50px auto;
        }
        .discount {
            width: 100%;
            text-align: center;
            margin: 0 auto;
            padding: 50px 0 100px 0;
            background-color: white;
            position: static;
        }
        .popular_book {
            padding: 0 37px 50px 40px;
        }
        .background_books {
            margin-top: 55px;
            height: auto;
        }
        .partners {
            float: none;
            margin: 0 auto;
            width: 80%;
        }
        .text-literature {
            float: left;
            width: 100%;
            margin: 0 auto;
            padding-bottom: 50px;
        }
        .literature_news ul li {
            width: 100%;
        }
        .section_book_autor {
            position: relative;
            padding: 66px 10px 10px 10px;
            width: 76%;
            float: left;
            margin: 0 auto;
        }
        .count-form-inner {
            width: 100%;
        }
        .coupon-wrap {
            height: 165px;
            width: 100%;
            float: none;
        }
        .coupon-code {
            width: 50%;
            margin: 0 auto;
        }
        .proceed-wrap {
            margin-top: 150px;
            /*margin: 0 auto;*/
            float: none;
            width: 100%;
        }
        .proceed-checkbox {
            width: 50%;
            margin: 0 auto;
        }
        .proceed-count table {
            float: none;
            margin: 0 auto;
            /* width: 100%; */
        }
        .proceed-payment {
            float: none;
            width: 35%;
            margin: 0 auto;
        }
        .proceed-count {
            float: none;
        }
        .table-cart {
            width: 95%;
        }
        .shipping_right {
            float: none;
        }
        .payment-method {
            text-align: center;
            margin-top: 55px;
        }
        .input-text-inner textarea[placeholder] {
            max-width: 240px;
        }
        .input-text-inner {
          width: 0;
        }
        .menu_futer {
            width: 95%;
            padding-bottom: 60px;
        }
        .wrap-footer {
            /*height: 100%;*/
        }
        .footer_info {
           padding-top: 60px;
        }
        .footer_section_about {
            width: 100%;
            margin: 0 auto;
        }
        .footer_section_box {
            text-align: left;
            float: none;
            padding: 60px 0 0 50px;
        }
        .section_about_header {
            float: none;
            padding: 0 50px;

        }
        .footer_section_active {
            width: 47%;
            padding-top: 40px;
            float: none;
            margin: 0 auto;
        }
        .footer_social {
            float: none;
            width: 31%;
            padding-top: 40px;
            margin: 0 auto;
        }
        .footer-info-left {
            float: left;
            width: 35%;
        }
        .footer-info-right {
            width: 65%;
        }
        .single-post-header h1 {
            font-size: 35px;
            line-height: 45px;
            padding-top: 6px;
        }
        .article-container {
            width: 90%;
        }
        .single-post-header {
            width: 55%;
        }
        .article-text {
            max-width: 95%;
        }

        .switch-blog {
            margin-left: 12%;
        }

        .article-figcaption {
            /*margin: 0 25%;*/
            width: 100%;
        }
        .article-figcaption-next {
            /*margin: 0 0;*/
            width: 100%;
        }
        .post-content {
            /*margin: 0 25%;*/
            width: 100%;
        }
        .related-item img{
            float: left;
            width: auto;
            padding: 0 25px 25px 28px;
        }
        .related-item {
            padding: 20px 0;
            width: 100%;
            margin: 0;

        }
        .post-users {
            width: 85%;
        }
        .relation-post {
            width: 100%;
        }
        .post-comments {
            width: 100%;
        }
        .show-href {
            /*margin: 0 25%;*/
            width: 100%;
        }
        .article-form {
            width: 90%;
        }
        .section_box {
            width: 95%;
            float: none;
            margin: 0 auto;
        }
        .input-create {
            margin: 0 65px 40px 65px;
        }
        .inner-article-block {
            width: 100%;
        }
        .article-block {
            float: none;
            width: 100%;
            height: auto;
            /*margin: 35px 10px;*/
        }
        .article-left {
            width: 100%;
            float: none;
        }
        .article-right {
            margin-top: 40px;
            width: 100%;
            float: none;
        }
        .block-float {
            width: 100%;
            float: left;
        }
        .inner-article-block p {
            padding-bottom: 45px;
        }
        #wrap-login .transp-back-wrap-login {
            width: 375px;
        }
        .rectangle-arrow {
            z-index: 4;
            left: 305px;
            position: absolute;
            top: 30px;
        }

    }
    @media all and (min-width:992px)and (max-width: 1115px) {
        .section-left {
            width: 100%;
            float: none;
        }
        .section-right {
            width: 100%;
            float: none;
        }
        .menu {
            width: 1214px;
            margin: auto;
            left: 50%;
            margin-left: -390px;
        }
        .feature-image img {
            width: 100%;
        }
        .container {
            max-width: 80%;
        }
        .single-post-header h1 {
         font-size: 43px;
        }
        .article-text {
            /*max-width: 80%;*/
            margin: 0 auto;
        }
        .single-post-header {
            width: 60%;
        }
        .article-container {
            width: 80%;
            margin: 0 auto;
        }

        .single-post-header {
            margin: 0 20%;
        }
        .relation-post {
            /*margin: 0 8%;*/
            padding-bottom: 60px;
            padding-top: 50px;
            width: 100%;

        }
        .related-item img{
            float: none;
            width: auto;
            padding: 0 25px 25px 0;
        }
        .related-item {
            /*margin: 0 73px;*/
            /* margin-right: 45px; */
            vertical-align: top;
            display: inline-block;
            width: 27%;
        }
        .switch-blog {
            margin-left: 6%;
        }
    }
    @media all and (min-width:1116px)and (max-width: 1200px) {
        .section-left {
            width: 100%;
            float: none;
        }
        .section-right {
            width: 100%;
            float: none;
        }
        .relation-post {
            margin: 0 8%;
            padding-bottom: 60px;
            padding-top: 50px;
            width: 85%;
            border-top: 1px solid #bfbfbf;
            border-bottom: 1px solid #bfbfbf;
        }
        .related-item img{
            float: none;
            width: auto;
            padding: 0 25px 25px 0;
        }
        .related-item {
            margin: 0 7%;
            vertical-align: top;
            display: inline-block;
            width: 18%;
        }
        .switch-blog {
            margin-left: 9%;
        }
    }
    /*=========== end article ============*/

    /*======= wrap-footer =======*/
    @media all and (min-width: 1190px) and (max-width: 1280px){
        .footer_section_active {
            padding-right: 9%;
        }
        .section_about_header {
            padding-left: 9%;
        }
        .menu_futer {
            width: 88%;

        }
        .footer_section_box {
            margin: 0 9%;
            width: 53%;
        }
        .section_box {
            margin-left: 10%;
        }

        .switch-blog {
            margin-left: 63px;
        }
    }
    @media all and (min-width: 992px) and (max-width: 1189px){
        .coupon-wrap {
            width: 36%;
            float: left;
        }
        .count-form-inner {
            margin: 0 auto;
            max-width: 80%;
            padding: 80px 0;
        }
        .proceed-wrap {
            float: right;
            width: 50%;
        }
        .proceed-payment {
            float: right;
        }
        .proceed-count {
           float: left;
        }

        .footer_section_active {
            width: 41%;
        }
        .footer_info {
            width: 100%;
        }
        .footer-info-left {
            width: 33%;
        }
        .footer-info-right {
            width: 67%;
        }
        .menu_futer {
            width: 88%;
        }
        .footer_section_box {
            /*margin: 0 9%;*/
            width: 80%;
        }
        /*.section_box {*/
            /*margin-left: 10%;*/
        /*}*/


    }

    /*======= end wrap-footer =======*/


        /*@media all and (min-width: 480px) and (max-width: 679px){*/
            /*.shipping_left {*/
                /*float: none;*/
            /*}*/
            /*.shipping_right {*/
                /*float: none;*/
                /*padding-top: 32px;*/
            /*}*/
            /*.create_account {*/
                /*text-align: left;*/
                /*width: 100%;*/
            /*}*/
            /*.coupon-form {*/
                /*float: none;*/
                /*padding-bottom: 133px;*/
                /*width: 100%;*/
            /*}*/
            /*.proceed-wrap {*/
                /*float: none;*/
            /*}*/
        /*}*/

        /*@media all and (min-width: 680px) and (max-width: 767px){*/
            /*.shipping_left {*/
                /*float: none;*/
            /*}*/

            /*.shipping_right {*/
                /*float: none;*/
            /*}*/
        /*}*/

        /*@media all and (min-width: 640px) and (max-width: 680px){*/
            /*.shipping_left {*/
                /*float: none;*/
            /*}*/

            /*.shipping_right {*/
                /*float: none;*/
            /*}*/
        /*}*/

        /*@media all and (min-width: 480px) and (max-width: 767px) {*/
            /*.rightpart {*/
                /*float: none;*/
            /*}*/

            /*.leftpart {*/
                /*float: none;*/
            /*}*/

            /*.payment-method {*/
                /*padding: 65px 100px 0 100px;*/
            /*}*/
            /*.footer_section_active {*/
                /*float: none;*/
            /*}*/
            /*.section_about_header {*/
                /*float: none;*/
                /*width: auto;*/
            /*}*/
            /*.coupon-form {*/
                /*float: none;*/
                /*padding-bottom: 120px;*/
            /*}*/
            /*.proceed-wrap {*/
                /*float: none;*/
            /*}*/
            /*.footer_section_box {*/
                /*box-sizing: border-box;*/
                /*float: none;*/
                /*width: 80%;*/
                /*padding: 22px 132px;*/
            /*}*/
            /*.footer_social {*/
                /*float: none;*/
            /*}*/
        /*}*/
        /*@media all and (min-width: 610px) and (max-width: 767px) {*/
        /*.footer_section_active {*/
            /*float: none;*/
            /*width: 45%;*/
        /*}*/
    /*}*/
        /*@media all and (min-width: 480px) and (max-width: 609px) {*/
            /*.footer_section_active {*/
                /*float: none;*/
                /*width: 57%;*/
            /*}*/
        /*}*/

            /*.menu_futer ul li {*/
                /*padding: 20px 15px 20px 0;*/
            /*}*/


        /*@media all and (min-width: 320px) and (max-width: 480px) {*/

            /*.table-cart {*/
                /*overflow-x: scroll;*/
            /*}*/
            /*.rightpart {*/
                /*float: none;*/
            /*}*/

            /*.leftpart {*/
                /*float: none;*/
            /*}*/
            /*.shipping_left {*/
                /*float: none;*/
            /*}*/
            /*.shipping_right {*/
                /*float: none;*/
                /*padding-top: 70px;*/
                /*width: 100%;*/
            /*}*/
            /*.coupon-form {*/
                /*float: none;*/
                /*padding-bottom: 120px;*/
            /*}*/
            /*.proceed-wrap {*/
                /*float: none;*/
            /*}*/
            /*.menu_futer ul li {*/
                /*padding: 20px 15px 20px 0;*/
            /*}*/
            /*.section_about_header {*/
                /*float: none;*/
            /*}*/
            /*!*.footer_section_active {*!*/
                /*!*float: none;*!*/
                /*!*width: 57%;}*!*/
            /*.footer_section_box {*/
                /*float: none;*/
                /*text-align: center;*/
                /*width: 100%;*/
            /*}*/
        /*}*/
            /*.footer_social {*/
                /*float: none;*/
            /*}*/

        /*@media all and (min-width: 720px) and (max-width: 910px) {*/
            /*.subscribe-form input {*/
                /*width: 90px;*/
            /*}*/
        /*}*/
        /*@media all and (min-width: 640px) and (max-width: 720px) {*/
            /*.social_icon ul li a {*/
                /*padding: 25px 34px 0 0;*/
            /*}*/
        /*}*/
        /*@media all and (min-width: 910px) and (max-width: 1045px) {*/
            /*.shipping-inner {*/
                /*float: none;*/
            /*}*/

            /*.shipping_left h3 {*/
                /*height: 50px;*/
            /*}*/

        /*}*/

    /*@media all and (min-width: 1190px) and (max-width: 1285px){*/
    /*.menu_list {*/
    /*margin: 3% 0 0 0;*/
    /*}*/
    /*}*/

    /*@media only screen and (max-width: 1310px) {*/
    /*.container_wrap {*/
    /*display: none;*/
    /*}*/
    /*.background_books {*/
    /*margin-top: 55px;*/
    /*}*/
    /*}*/
    /*@media only screen and (max-width: 992px) {*/
    /*.slider-header-book {*/
    /*display: none;*/
    /*}*/
    /*.presentation_books {*/
    /*margin-top: 225px;*/
    /*}*/
    /*}*/
