
    @media all and (max-width: 1024px){
        .menu_list {
            display: none;
        }
        .presentation_book {
            float: none;
            width: auto;
            margin-bottom: 50px;
        }
        .presentation_text {
            border: 1px solid grey;
            width: auto;
        }

    }

    @media all and (max-width: 1150px) {
        .bookschoice {
            height: 910px;
            margin-left: 50px;
            float: none;
            margin: 0 auto;
        }
        .booktext {
            margin: 0 auto;
            height: 355px;
            float: none;
            width: 500px;

        }
        .presentation_books {
            margin-top: 500px;

        }
        .presentation_book_img {
            right: -100px;
        }
    }


    @media all and (max-width: 600px){
        .presentation_book {
            background-color: #da8913;
        }
    }
    @media all and (max-width: 600px) and (orientation: landscape){
        .presentation_book {
            background-color: chocolate;
        }
    }

    @media only screen and (max-width: 768px) {
        /* For mobile phones: */

    }

    /* больше чем 768px */
    @media only screen and (min-width: 768px) {

    }

    /* при меньше 500px ) */
    @media only screen and (max-width: 500px) {
        body {
            background-color: lightblue;
        }
    }

    /* For width 400px and larger: */
    @media only screen and (min-width: 400px) {

    }

    /* For devices 400px and larger: */
    @media only screen and (min-device-width: 400px) {
        body {
            background-image: url('img_flowers.jpg');
        }
    }


/*
<div class="creditcard">
<input type="radio" id="creditcard" name="payment" value="creditcard">
<label for="creditcard">Credit Card</label> <img src="img/cart/creditcard.png" width="23" height="16" alt="creditcart">
</div>
  <div class="bancontract">
<input type="radio" id="bancontract" name="payment" value="bancontract">
<label for="bancontract">Bancontract</label>
                                      </div>
                                        <div class="paypal">
<input type="radio" id="paypal" name="payment" value="paypal">
<label for="paypal">Paypal</label>
                            </div>
                              <div class="banktransfer">
<input type="radio" id="banktransfer" name="payment" value="banktransfer">
<label for="banktransfer">Banktransfer</label>
                                        </div>
                                          <div class="ideal">
<input type="radio" id="ideal" name="payment" value="ideal">
<label for="ideal">IDEAL</label>
                          </div>
                            <div class="sofort">
<input type="radio" id="sofort" name="payment" value="sofort">
<label for="sofort">SOFORT Banking</label>
                                    </div>
                                      <div class="bitcoin">
<input type="radio" id="bitcoin" name="payment" value="bitcoin">
<label for="bitcoin">Bitcoin</label>
                              </div>
*/