

@import url('https://fonts.googleapis.com/css?family=Amiri|Lato|Ramaraja|Rozha+One|PT+Serif|Work+Sans|Yrsa');

* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
}
body {
    margin: 0 auto;

}

.container {
    width: 960px;
    margin: 0 auto;

}
.container button {
    text-align: center;

}
nav {
    padding-top: 30px;
}
.wrap {
    margin: 0 auto;
    height: 150px;
    background-color: #f2fdff;
}
.menu {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding-top: 15px;
    background-color: white;
    height: 70px;

}




ul li {
    display:inline;
    float: left;
}
.menuimg {

    text-align: center;
}
.popular {
    margin-top: 60px;
    margin-bottom: 60px;
}

.block1 {
    float: left;
}
.block2 ul li  {
    padding: 0 10px 0 10px;
}

.block2 {
    float: left;
}
.block3 {
    float: right;
}

a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}
.bookslide {
    margin: 0 auto;
    width: 100%;
    background-color: #f2fdff;
    height: 679px;
}

.bookschoice {
    width: 40%;
    float: left;
    display: block;
}
.booktext {
    display: block;
    float: right;
    width: 40%;
    height: 700px;

}
.presentation_book {
width: 100%
}

.wraper_books {
width: 100%;
}

.presentation_book1 {
    width: 44%;
    background-color: #f1fdff;
    font-size: 1.5em;
    float: left;

}


.presentation_book2 {
    width: 44%;
    background-color: #f1fdff;
    font-size: 1.5em;
    float: right;

}
.container_button {
    text-align: center;
}
a.button7 {
    text-align: center;
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border: 2px solid;
    background: rgb(64,199,129);
    box-shadow: 0 -3px rgb(53,167,110) inset;
    transition: 0.2s;
}
a.button7:hover { background: rgb(53, 167, 110); }
a.button7:active { background: black; }



.shopfrontmenu {

}
.shopfronttext p {
    text-align: center;
}
.shopfrontmenuleft ul li {
    padding: 0 10px 0 10px;
}
.shopfrontmenuleft {
    float: left;
}
.shopfrontmenuright {
    float: right;
}

.container .button {
    float: left;
}
.button {
    display: inline;
}
.books {
    float: left;
    min-width: 650px;
}
.books ul li  {
    width: 150px;
    float: left;
    padding: 0 5px 0 5px;
}
.clearfix {
    clear: both;
}
.popopularauthors {
    height: inherit;
    float: left;
}
.button {
    text-align: center;
}
.procent {
    margin: 0 auto;
    width: 70%;
}
.discount {
    background-image: url("images/books.png");
    width: 1134px;
    height: 908px;
}
.block_discount {
    width: 31%;
    float: left;

}
.literature_writes {
    width: 100%;

}
.literature_books p {
    text-align: center;
}
.literaturenews {
    float: left;
}
.literature_news ul li {
    width: 300px;
}
.literature_news_autor {
    margin: 10px 10px;
    float: left;
}
.popularseries p {
    text-align: center;
}
.popularseries ul li {
    float: left;
}
.menupopular ul li {
    padding: 0 10px;
}
.popular {
    min-width: 300px;
    border: solid 1px red;

}
h1 {
    text-align: center;
}
.comment1 {
    padding: 10px;
    width: 25%;
    float: left;
}
.comment2 {


    float: left;
}

.comment3 {
    padding: 10px;
    width: 35%;
    float: left;
}


/* fonts used in html */
span.fontcaption {
    font-family: 'Ramaraja', serif;
    font-size: 28px;
    color: #555963;
    line-height: 30px;
}
span.font_slider_grey {
    font-family: 'Ramaraja', serif;
    display: inherit;
    text-align: left;
    line-height: 58px;
    color: #555963;
    font-size: 57px;
}
span.book_series_fonts {
    font-family: 'Ramaraja', serif;
    font-size: 23px;
    line-height: 23px;
    color: #555963;
}
.popwrites_header p {
    text-align: center;
}
.popwrites {
width: 100%;
}

span.header {
    font-family: 'Ramaraja', serif;
    font-size: 42px;
    line-height: 32px;
    color: #555963;
}
/* ---- font amiri --- */
span.fontcaption_orange {
    font-family: 'Amiri', serif;
    font-size: 18px;
    line-height: 22px;
    color: #eaad54;
}
span.font_slider_orange {
    font-family: 'Amiri', serif;
    font-size: 21px;
    line-height: 58px;
    color: #da8913;
}


span.font_slider_vote {
    font-family: 'Work Sans', sans-serif;
    color: #555963;
    font-size: 17px;
    font-weight: bold;
}

span.font_vote {
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
    line-height: 58px;
    color: #555963;
}

span.font_slider_comment {
    font-family: 'Yrsa', serif;
    color: #555963;
    font-size: 23px;
    line-height: 32px;
}
span.fontmenu {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 37.46px;

}

span.font_yrsa {
    display: block;
    margin-top: 50px;
    font-family: 'Yrsa', serif;
    font-size: 38px;
    line-height: 32px;
    color: #555963;
}
span.font_menu {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 32px;
}
span.books_font_grey {
    font-family: 'Ramaraja', serif;
    font-size: 21px;
    line-height: 30px;
    color: #555963;
}
span.books_font_orange {
    font-family: 'Amiri', serif;
    font-size: 16px;
    line-height: 30px;
    color: #dd9327;
}
span.aboutliterature {
    font-family: 'Lato', sans-serif;
    font-size: 11px;
    line-height: 37.46px;
}
span.bookworm {
    font-family: 'Rozha One', serif;
    font-size: 29px;
    line-height: 37.46px;
}
span.all_books {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 32px;
}
span.literature_vote {
    font-family: "Work Sans";
    font-size: 16px;
    line-height: 58px;
    color: #555963;
}
span.font_comment {
    font-family: 'Ramaraja', serif;
    font-size: 21px;
    line-height: 23px;
    color: #555963;
}
span.font_comment_text {
    font-family: 'Yrsa', serif;
    font-size: 21px;
    line-height: 29px;
    color: #555963;
}
span.writer_page {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 29px;
}
span.fontcaption_text {
    font-family: 'PT Serif', serif;
    font-size: 17px;
    font-weight: bold;
    line-height: 29px;
    color: #555963;
    font-style: italic;
}
span.fontcaption_grey {
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    color: #bfbfbf;
    line-height: 22px;
}
span.text_info {
    font-family: 'Yrsa', serif;
    color: #555963;
    line-height: 29px;
    font-size: 21px;
}

.slide_info {
    min-width: 1060px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}

.block_news {
    width: 240px;
    float: left;
}
.button_all_news {
    text-align: center;

}

.slider_block {
    width: 100%;
}

.container_wrap {
    background-color: #f7fdff;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 60px;
}

.slide_block1 {
    width: 68%;
    float: left;
}
.slide_block2 {

    float: left;
}
.slide_block3 {
    background-color: #f7fdff;
    width: 32%;
    float: right;
    box-sizing: border-box;
}
.popular_series {
    margin: 30px 0;
    text-align: center;
}


.background_books {
    background-image: url("../img/Bitmap.png");
    background-repeat: repeat;
    padding: 80px 40px 40px 40px;
}
.discount p {
    padding-top: 20px;
}
.discount {
    width: 600px;
    text-align: center;
    background-color: white;
    height: 340px;
    margin: 0 auto;
}


.clearfix {
    clear: both;
}
.clearfix-visible {
    content: "";
    display: table;
    clear: both;
    width: 100%;
    height: 10px;
}
.container_slider {
width: 1060px;
}

.book_1 {
    float: left;
}
.publishers {
    margin: 80px auto;
    width: 100%;
}
.description p {
    text-align: left;
}
.description {
    float: left;
    width: 30%;
}
.partners {
    float: right;
    width: 70%;
}

.partners_block {
    float: left;
}

.partners_block ul li {
    padding: 10px 10px;
    float: left;
}
.menu_futer {
    height: 150px;
    width: 100%;
}
.menu_futer ul li  {
    margin: 20px 20px;
}