

@import url('https://fonts.googleapis.com/css?family=Amiri|Lato:400,700|Ramaraja|Rozha+One|PT+Serif|Work+Sans|Yrsa');

* {
    margin: 0 auto;
    padding: 0;
}

html {

    margin: 0;
}

body {
    margin: 0;
    height: 100%;
    font-family: 'Yrsa', serif;
    font-size: 23px;
    line-height: 32px;
    color: #45474b;
}
.container  {
    max-width: 1210px;
    margin: 0 auto;
}
.wrap {
    position: relative;
    margin: -63px 0 100px 0;
    background-color: #f2fdff;
}
.container button {
    text-align: center;
}
.menu {
    top: 15px;
    left: 100px;
    right: 100px;
    position: fixed;
    z-index: 10000;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color: white;
    height: 98px;
}

ul li {
    display:inline;
    float: left;
    list-style-type: none;
}
.menuimg {
    text-align: center;
}
.popular {
    margin-top: 60px;
    margin-bottom: 60px;
}

.menu_logo {
    margin: 20px 0 0 35px;
    background-image: url("../img/Logo.png");
    width: 211px;
    height: 56px;
    float: left;
    padding: 19px 60px 15px 35px;
    background-repeat: no-repeat;
}

.menu_list li a {
    padding: 0 23px 0 21px;
    text-transform: uppercase;
    color: #45474b;
}

.menu_list li a:hover {
    color: #da8913;
}

.menu_list {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 37px;
    margin-top: 30px;
    float: left;

}
.search {
    background-image: url("../img/icons_svg/search.svg");
    width: 23px;
    height: 23px;
}
.shoppingcart {
    background-image: url("../img/icons_svg/shoppingcart.svg");
    width: 22px;
    height: 20px;
}
.userpic {
    margin-bottom: 15px;
    background-image: url("../img/Userpic.png");
    width: 39px;
    height: 39px;
    background-repeat: no-repeat;
}
.info_boks {
    padding: 25px 17px 0 0;
    float: right;
}

.info_boks li{
    padding: 16px;
   }

a:link {
    color: #555963;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: #555963;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #da8913;
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: #da8913;
    background-color: transparent;
    text-decoration: none;
}
.bookslide {
    height: 831px;
    padding: 240px 0 0 0;
}
.img_slider {
    position: absolute;
    padding-top: 65px;
    padding-left: 78px;
    z-index: 5;
  }
.img_hogwarts {
    padding-top: 50px;
    position: relative;
}
.category_slider {
    top: 55px;
    max-width: 150px;
    padding: 0px 17px;
    text-align: center;
    margin-bottom: 5px;
    right: -10px;
    z-index: 3;
    position: absolute;
    border: solid 2px #ffbb58;
    background-color: white;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 32px;
    color: #45474b;
}
.img_slider img {
    box-shadow: 0 0 50px rgba(0,0,0,0.5);

}
.img_book img {
    opacity: 0.45;
    z-index: 2;
}

.bookschoice {
    position: relative ;
    width: 41%;
    float: left;
    margin-left: 100px;
}

.booktext {
    float: right;
    width: 45%;
    margin-top: 135px;
    padding: 0 20px 0 0;
}
.presentation_books {
width: 100%;
}

.wraper_books {
width: 100%;
}

.presentation_book {
    width: 45%;
    height: 215px;
    position: relative;
    background-color: #f1fdff;
    font-size: 1.5em;
    float: left;
    margin: 0 25px 0 25px;
}
.presentation_text {
    float: left;
    width: 55%;
    margin: 35px 10px 35px 35px;
}

.presentation_book_img {
    right: 34px;
    position: absolute;
    bottom: -18px;
}

.container_button {
    text-align: center;
}
a.btn {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    text-align: center;
    font-weight: 400;
    color: #45474b;
    text-decoration: none;
    padding: 10px 60px;
    border: 2px solid #555963;
    background: white;
}
a.btn:hover { background: #da8913; }
a.btn:active { background: white; }

.shopfrontmenu {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 32px;
    color: #45474b;
    width: 100%;
}
.shopfrontmenu a:hover {
    text-decoration: none;
    color: #da8913;
}
.shopfront {
    padding: 90px 0 0 0;
}
.shopfrontmenuleft ul li a {
    list-style-type: none;
    color: #45474b;
    padding: 10px 10px 10px 10px;

}
.shopfrontmenuleft {
    float: left;

}
.shopfrontmenuright {
    float: right;
    color: #45474b;
}

.container .button {
    float: left;
}
.button {
    display: inline;
}
.books {
    float: left;
    min-width: 650px;
}
.books ul li  {
    width: 150px;
    float: left;
    padding: 42px 42px 0 9px;
}

.clearfix {
    clear: both;
}
.popopularauthors {
    height: inherit;
    float: left;
}
.button {
    text-align: center;
}
.discount_procent {
    padding: 20px 20px 83px 20px;
    margin: 0 auto;
    width: 70%;
}
.discount {
    width: 55%;
    text-align: center;
    margin: 0 auto;
    padding: 50px 0 185px 0;
    background-color: white;
    height: 390px;
}
.block_discount {
    width: 31%;
    float: left;

}
.literature_writes {
    padding: 108px 20px 20px 20px;
    width: 100%;

}
.literature_books p {
    text-align: center;
}
.literaturenews {
    float: left;
}
.literature_news ul li {
    margin: 10px 93px 10px 10px;
    width: 300px;
}
.literature_news_autor {
    margin: 80px 10px;
    float: left;
}
.popularseries p {
    text-align: center;
}
.popularseries ul li {
    float: left;
}
.menupopular a {
    text-decoration: none;
    color: #45474b;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    }
.menupopular a:hover {
    color: #da8913;
    transition: top 1s ease-out 0.5s;
}

.menupopular ul li {
    padding: 0 10px;

    list-style-type: none;
}

.popular {
    min-width: 300px;
    border: solid 1px red;

}

.writer_title h2 {
    font-family: 'Ramaraja', serif;
    font-size: 28px;
    color: #555963;
    line-height: 30px;
    font-weight: 400;
}
.section_about_autor {
    text-align: right;
    padding: 10px;
    width: 25%;
    float: left;
}
.writer_info {
    width: 90%;
    padding: 10px 10px 33px 10px

}
.section_photo_autor {
    padding: 0 50px;
    float: left;
}
.section_photo_autor img {
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
}
.section_book_autor {
    padding: 10px 10px 10px 10px;
    width: 35%;
    float: left;
}

.list_book img {
    padding: 45px 15px 10px 0px;
}

/* fonts used in html */
/*span.fontcaption */

span.fontcaption {
    font-family: 'Ramaraja', serif;
    font-size: 28px;
    color: #555963;
    line-height: 30px;
}

span.font_slider_grey {
    font-family: 'Ramaraja', serif;
    display: inherit;
    text-align: left;
    line-height: 58px;
    color: #555963;
    font-size: 57px;
}




span.book_series_fonts {
    font-family: 'Ramaraja', serif;
    font-size: 23px;
    line-height: 23px;
    color: #555963;
}
.book_series {
    width: 100%;
}
.popwrites_header p {
    text-align: center;
}
.popwrites {
    margin: 210px 0 0 0;
    width: 100%;
}


/* ---- font amiri --- */

h1 {
    font-weight: 400;
    margin: 32px 0 70px 0;
    display: block;
    text-align: center;
    font-family: 'Ramaraja', serif;
    font-size: 42px;
    line-height: 32px;
    color: #555963;
}

h3 {
    font-family: 'Ramaraja', serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 23px;
    color: #555963;
}
h2 {
    font-weight: 400;
    font-family: 'Ramaraja', serif;
    font-size: 28px;
    color: #555963;
    line-height: 30px;
}
span.fontcaption_orange {
    width: 60%;
    font-family: 'Amiri', serif;
    font-size: 18px;
    line-height: 22px;
    color: #eaad54;
    border-right: 1px solid #d3d9db;
    padding: 0 15px;
    display: inline-block;
}

span.font_orange {
    font-family: 'Amiri', serif;
    font-size: 18px;
    line-height: 22px;
    color: #eaad54;
    }

span.font_slider_orange {
    font-family: 'Amiri', serif;
    font-size: 21px;
    line-height: 58px;
    color: #da8913;
}


span.font_slider_vote {
    font-family: 'Work Sans', sans-serif;
    color: #555963;
    font-size: 17px;
    font-weight: bold;
}

span.font_slider_vote::before {
    content: "";
    width: 1px;
    height: 20px;
    background: #45474b;
    display: inline-block;
    margin: 0 10px;
    vertical-align: middle;
}


span.font_slider_sum {
    font-family: 'Work Sans', sans-serif;
    color: #555963;
    font-size: 17px;
    font-weight: bold;
}

span.font_vote {
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
    line-height: 58px;
    color: #555963;
}
span.font_yrsa {
    display: block;
    margin-top: 50px;
    font-family: 'Yrsa', serif;
    font-size: 38px;
    line-height: 32px;
    color: #555963;
}
span.font_menu {

}
span.books_font_grey {
    font-family: 'Ramaraja', serif;
    font-size: 21px;
    line-height: 30px;
    color: #555963;
}
span.books_font_orange {
    font-family: 'Amiri', serif;
    font-size: 16px;
    line-height: 30px;
    color: #dd9327;
}
span.aboutliterature {
    font-family: 'Lato', sans-serif;
    font-size: 11px;
    line-height: 37.46px;
}
span.bookworm {
    font-family: 'Rozha One', serif;
    font-size: 29px;
    line-height: 37.46px;
}
span.btn {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 32px;
}
span.literature_vote {
    font-family: "Work Sans";
    font-size: 16px;
    line-height: 58px;
    color: #555963;
    display: inline-block;
    vertical-align: bottom;
    padding-left: 10px;
}

span.font_comment {
    font-family: 'Ramaraja', serif;
    font-size: 21px;
    line-height: 23px;
    color: #555963;
}
span.font_comment_text {
    font-family: 'Yrsa', serif;
    font-size: 21px;
    line-height: 29px;
    color: #555963;
}
span.writer_page {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 29px;
}
span.fontcaption_text {
    font-family: 'PT Serif', serif;
    font-size: 17px;
    font-weight: bold;
    line-height: 29px;
    color: #555963;
    font-style: italic;
}

span.fontcaption_text::before {
    font-family: 'Ramaraja', serif;
    content: '';
    position: absolute;
    display: inline-block;
    font-size: 57px;
    color: #555963;
    background-image: url("../img/rectangle26.png");
    width: 20px;
    height: 18px;
    margin: -24px 0px 0px 267px;
}

span.fontcaption_grey {
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    color: #bfbfbf;
    line-height: 22px;
}
span.text_info {
    font-family: 'Yrsa', serif;
    color: #555963;
    line-height: 29px;
    font-size: 21px;
}

.slide_info {
    min-width: 1060px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}

.block_news {
    padding: 0 50px 10px 0;
    width: 240px;
    float: left;
}
.button_all_news {
    text-align: center;

}

.slider_block {
    margin: 150px 0;
    width: 100%;
}

.container_wrap {
    background-color: #f7fdff;
    width: 100%;
    height: 634px;
    margin-top: 40px;
    margin-bottom: 172px;
}

.slide_block1 {
    width: 68%;
    float: left;
}
.slide_block2 {

    float: left;
}
.slide_block3 {
    background-color: #f7fdff;
    width: 32%;
    float: right;
    box-sizing: border-box;
}
.slide_block3 h1 {
    text-align: left;
}
.popular_series {
    margin: 120px 0 0 0;
    text-align: center;
}


.background_books {
    /* background-image: url("../img/Bitmap.png");
    background-repeat: repeat;
    height: 750px;*/
    padding: 200px 40px 200px 40px;
    background-color: #da8913;
}

.clearfix {
    clear: both;
}
.clearfix-visible {
    content: "";
    display: table;
    clear: both;
    width: 100%;
    height: 10px;
}
.container_slider {
width: 1060px;
}
.popular_book {
    padding: 0 40px 0 40px;
    float: left;
}
.publishers {
    margin: 80px auto;
    width: 100%;
}
.description h1 {
    text-align: left;
}
.description {
    float: left;
    width: 30%;
}
.description p{
    margin-bottom: 75px;
}
.partners {
    float: right;
    width: 60%;
}

.partners_block {
    float: left;
}
.partners_block img {
    text-align: center;
}
.partners_block ul li {
    padding: 20px 20px;
    float: left;
}


.menu_futer {
    height: 50px;
    width: 100%;
}
.menu_futer ul li  {
    margin: 20px 20px;
}
.menu_futer a {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    list-style-type: none;
}

.footer_content {
    width: 100%;
}
.footer_section_about {
    width: 65%;
    float: left;
}
.footer_section_active {
    margin: 95px 0 0 0;
    width: 30%;
    float: right;
    position: relative;
}

.footer_section_active form {
    margin: 13px 0 0 0;
}
.footer_section_active hr {
    display: block;
    size: 8px;
    color: #555963;
}

.section_about_header {
    width: 73%;
    margin: 95px 0 0 0;

}

.section_about_header p {
    margin: 35px 0 0 0;
    font-family: 'Yrsa', serif;
    color: #555963;
    font-size: 19px;
    line-height: 26px;

}
.footer_section_box {
    width: 100%;
    height: 40px;
    margin: 40px 0 0 0;
}
.section_box {
    float: left;
    width: 25%;
}

.section_box p {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 26px;
    color: #4f6569;
}
.footer_section_inner_box {
    margin: 45px 0 0 0;
}
.footer_info {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color: #555963;
    margin: 150px 0 70px 0;
}

button[type=submit]:hover {
    border: none;
}
.subscribe {
    position: relative;
}
button.subscribe_button::after {
    content: "";
    background-image: url("../img/icons_svg/mail.svg");
    width: 21px;
    height: 13px;
    display: inline-block;
}

/* button[type=submit]::after {
    content: "";
    background: url("../img/icons_svg/mail.svg");
    position: absolute;
} */

input[type=email] {
    width: 206px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    color: #45474b;
}

input[type=email], select {
    border: none;
    color: #da8913;
    width: 206px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
}

button[type=submit] {
    /*position: relative; */
    background-color: white;
    color: #555963;
    padding: 10px 0px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.footer_section_active {
    position: relative;
}
 /*.footer_section_active img {
    bottom: 24px;
    right: 186px;
} */
.social_icon ul li {
    float: left;
    padding: 25px 15px 0 0;
    list-style-type: none;
}
.footer_social {
    margin: 80px 0 0 0;
}

