
* {
    margin: 0 auto;
    padding: 0;
}

html {
    margin: 0;
}

body {
    margin: 0;
    font-family: 'Yrsa', serif;
    font-size: 23px;
    line-height: 32px;
    }
.container  {
    max-width: 1210px;
    margin: 0 auto;
}
.wrap {
    position: relative;
    margin: -63px 0 100px 0;
    background-color: #f2fdff;
}


.menu {
    z-index: 500;
    top: 15px;
    left: 100px;
    right: 100px;
    position: fixed;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color: white;
    height: 98px;
}

.menu ul li {
    display: inline;
    float: left;
    list-style-type: none;
}

ul li {
    display: inline;
    float: left;
    list-style-type: none;
}
.menuimg {
    text-align: center;
}
.popular {
    margin-top: 60px;
    margin-bottom: 60px;
}

.menu_logo {
    margin: 20px 0 0 35px;
    background-image: url("../img/Logo.png");
    width: 120px;
    height: 56px;
    float: left;
    padding: 19px 60px 15px 35px;
    background-repeat: no-repeat;
}

.menu_list li a {
    padding: 0 20px 0 20px;

}

.menu_list li a:hover {
    color: #da8913;
}

.menu_list {
    text-transform: uppercase;
    color: #45474b;
    width: auto;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-top: 2.5%;
    margin-left: 2%;
    float: left;
}

.search {
    background-image: url("../img/icons_svg/search.svg");
    width: 23px;
    height: 23px;
}
.shoppingcart {
    background-image: url("../img/icons_svg/shoppingcart.svg");
    width: 22px;
    height: 20px;
}
.userpic {
    margin-bottom: 15px;
}
.info_boks {
    width: 185px;
    padding: 1.5% 3% 1% 1%;
    float: right;
}

.info_boks li{
    padding: 9%;
   }

a:link {
    color: #555963;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: #555963;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    transition: color 0.5s ease;
    color: #da8913;
    background-color: transparent;
    text-decoration: none;
}

a:active {
    transition: color 0.5s ease;
    color: #da8913;
    background-color: transparent;
    text-decoration: none;
}
a:focus {
    transition: color 0.5s ease;
    color: #da8913;
}
.bookslide {
    height: 831px;
    padding: 240px 0 0 0;
}
.img_slider {
    position: absolute;
    padding-top: 65px;
    padding-left: 78px;
    z-index: 5;
  }
.img_hogwarts {
    padding-top: 50px;
    position: relative;
}
.category_slider {
    top: 55px;
    max-width: 150px;
    padding: 0px 17px;
    text-align: center;
    margin-bottom: 5px;
    right: -10px;
    z-index: 3;
    position: absolute;
    border: solid 2px #ffbb58;
    background-color: white;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 32px;
    color: #45474b;
}
.img_slider img {
    box-shadow: 0 0 50px rgba(0,0,0,0.5);

}
.img_book img {
    opacity: 0.45;
    z-index: 2;
}

.bookschoice {
    position: relative ;
    width: 41%;
    float: left;
    margin-left: 100px;
}

.booktext {
    float: right;
    width: 45%;
    margin-top: 135px;
    padding: 0 20px 0 0;
}
.presentation_books {
    width: 1210px;
    margin-right: auto;
    margin-left: auto;
}

.wraper_books {
    width: 100%;
}
.book-title {
    text-align: left;
    width: 146px;
    height: 60px;
    font-family: 'Ramaraja', serif;
    font-size: 21px;
    line-height: 30px;
    color: #555963;
}
.book-author {
    text-align: left;
    font-family: 'Amiri', serif;
    font-size: 16px;
    line-height: 30px;
    color: #dd9327;
}
.book-item {
    text-align: center;
    /*margin: 20px 15px; */
    display: inline-block;
}



.book-item:nth-child(1) {
    padding: 42px 31px 0 0;
}
.book-item:nth-child(5n+1) {
    padding: 42px 0 0 31px;
}
.book-item:nth-child(n+2):nth-child(-n+5) {
    padding: 42px 30px 0 30px;
}
.book-item:nth-child(7) {
    padding: 42px 31px 0 0;
}
.book-item:nth-child(11n+1) {
    padding: 42px 0 0 31px;
}
.book-item:nth-child(n+8):nth-child(-n+11) {
    padding: 42px 30px 0 30px;
}
.book-item:nth-child(13) {
    padding: 42px 31px 0 0;
}
.book-item:nth-child(17n+1) {
    padding: 42px 0 0 31px;
}
.book-item:nth-child(n+14):nth-child(-n+17) {
    padding: 42px 30px 0 30px;
}

.book-item img {
    width: 146px;
    height: 227px;
}
.book-item a {
    display: block;
}
.book-title {
    width: 146px;
}
.presentation_book {
     width: 48%;
     position: relative;
     font-size: 1.5em;
     float: left;
     padding: 0 10px;
     box-sizing: border-box;
     margin-left: 10px;
     margin-right: 10px;
 }
.presentation_book::before{
    content: "";
    width: 100%;
    height: 80%;
    position: absolute;
    background-color: #f1fdff;
    z-index: -1;
    top: 50%;
    transform: translateY(-50%);
}

.presentation_text {
    float: left;
    width: 50%;
    margin: 35px 10px 35px 35px;
}

.presentation_book_img {
    height: auto;
    right: 34px;
    position: relative;
    bottom: -18px;
}

.container_button {
    margin-top: 90px;
    text-align: center;
}

.container_button a {
    transition: 1s ease color;
}
.btn:hover {
    background: #da8913;
    color: white;}

.btn:active { background: white; }

.proceed-inner {
    margin-top: 42px;
    width: 100%;
}
.proceed-count {
    float: left;
    width: 50%;
}
.proceed-count table {
    float: left;
}
.proceed-count-font1 {
    width: 50%;
    font-family: 'Ramaraja', serif;
    font-size: 21px;
    color: #45474b;
}
.proceed-count-font2 {
     width: 50%;
     font-family: 'Yrsa', serif;
     font-size: 25px;
     color: #555963;
 }
.proceed-count-font3 {
    font-family: 'Ramaraja', serif;
    font-size: 28px;
    color: #555963;
}
.proceed-count-font4 {
    font-family: 'Yrsa', serif;
    font-size: 31px;
    color: #555963;
}
.proceed-payment {
    text-align: center;
    float: right;
    width: 50%;
    box-sizing: border-box;
    margin-top: 30px;
}

.proceed-count tr td {
    padding-bottom: 15px;
    padding-right: 10px;
}

.shopfrontmenu {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 32px;
    color: #d3d9db;
    width: 100%;
}
/*.shopfrontmenu::after {
    content: "";
    width: 100%;
    height: 2px;
    display: block;
    background-color: #ececed;
    margin-top: 5px;
} */
.shopfrontmenu a:hover {
    text-decoration: none;
    color: #45474b;
}
.shopfront {
    padding: 90px 0 0 0;
}
.shopfrontmenuleft ul li a {
    list-style-type: none;
    color: #d3d9db;
    margin: 0 10px;
    padding-bottom: 10px;

 }
.shopfrontmenuleft ul li :hover {
   border-bottom: 1px solid #45474b;
   color: #45474b;
   transition: color 0.5s ease ;
    padding-bottom: 17px;

}
.shopfrontmenuleft {
    float: left;
    border-bottom: 1px solid #d3d9db;
    padding-bottom: 10px;

}
.shopfrontmenuright {
    padding-bottom: 10px;
    float: right;

}
.shopfrontmenuright ul li a {
    float: right;
    color: #d3d9db;
    padding-bottom: 10px;
}
.shopfrontmenuright ul li:hover {
    border-bottom: 1px solid #45474b;
    color: #45474b;
    transition: color 0.5s ease ;
    /*padding-bottom: 10px;*/

}


.container .button {
    float: left;
}
.button {
    display: inline;
}
.books {
    margin: 0 auto;
    float: left;
    min-width: 650px;
}
/* tr td {
    padding: 10px;
} */


.clearfix {
    clear: both;
}
.popopularauthors {
    height: inherit;
    float: left;
}
.button {
    text-align: center;
}
.discount_procent {
    padding: 20px 20px 83px 20px;
    margin: 0 auto;
    width: 70%;
}
.discount {
    width: 55%;
    text-align: center;
    margin: 0 auto;
    padding: 50px 0 185px 0;
    background-color: white;
    height: 390px;
}
.block_discount {
    width: 31%;
    float: left;

}
.literature_writes {
    padding: 108px 20px 20px 20px;
    width: 100%;

}
.literature_books p {
    text-align: center;
}
.literature_news {
    height: 670px;
    margin: 80px auto;
    width: calc(100% - 33px);
}
.literature_news ul li {
    display: inline-block;
    padding: 35px 25px 10px 25px;
    width: 342px;
    height: 553px;
}
.literature_news_autor {
    margin: 10px 23px 140px 23px;
    float: left;
}
.popularseries p {
    text-align: center;
}
.popularseries ul li {
    float: left;
}

.menupopular hr {
    color: #d3d9db;
}
.menupopular a {
    text-decoration: none;
    color: #d3d9db;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    }
.menupopular a:hover {
    color: #da8913;
    transition: top 1s ease-out 0.5s;
}

.menupopular ul li {
    padding: 0 0 20px 35px;
    list-style-type: none;
}
.popular {
    min-width: 300px;
    border: solid 1px red;

}

.writer_title h2 {
    font-family: 'Ramaraja', serif;
    font-size: 28px;
    color: #555963;
    line-height: 30px;
    font-weight: 400;
}
.section_about_autor {
    text-align: right;
    padding: 10px;
    width: 25%;
    float: left;
}
.writer_info {
    width: 90%;
    padding: 10px 10px 33px 10px

}
.section_photo_autor {
    padding: 0 50px;
    float: left;
}
.section_photo_autor img {
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
}
.section_book_autor {
    position: relative;
    padding: 10px 10px 10px 10px;
    width: 35%;
    float: left;
}

.list_book img {
    padding: 45px 15px 10px 0;
}
.bookmark {
    top: 222px;
    right: 85px;
    position: absolute;
    font-family: "Work Sans";
    font-weight: bold;
    font-size: 17px;
    color: #555963;
}
.inner-bookmark {
    position: relative;
}

.fontcaption {
    font-family: 'Ramaraja', serif;
    font-size: 28px;
    color: #555963;
    line-height: 30px;
}

.font_slider_grey {
    font-family: 'Ramaraja', serif;
    display: inherit;
    text-align: left;
    line-height: 58px;
    color: #555963;
    font-size: 57px;
}

.book_series_fonts {
    font-family: 'Ramaraja', serif;
    font-size: 23px;
    line-height: 23px;
    color: #555963;
}
.book_series {
    height: 420px;
    width: 100%;
}
.popwrites_header p {
    text-align: center;
}
.popwrites {
    margin: 210px 0 0 0;
    width: 100%;
}
/* ---- font amiri --- */

h1 {
    font-weight: 400;
    margin: 32px 0 70px 0;
    display: block;
    text-align: center;
    font-family: 'Ramaraja', serif;
    font-size: 42px;
    line-height: 32px;
    color: #555963;
}

h3 {
    font-family: 'Ramaraja', serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 23px;
    color: #555963;
}
h2 {
    font-weight: 400;
    font-family: 'Ramaraja', serif;
    font-size: 28px;
    color: #555963;
    line-height: 30px;
}
.name-book {
    vertical-align: top;
    line-height: 21px;
    font-family: 'Ramaraja', serif;
    font-size: 19px;
    color: #45474b;
}
.name-book p {
    font-family: 'Amiri', serif;
    font-size: 15px;
    color: #dd9327;
}

.font-book-size {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color: #555963;
}

.font-money {
    font-family: 'Yrsa', serif;
    font-size: 25px;
    color: #555963;
    font-weight: 600;
}
.fontcaption_orange {
    font-family: 'Amiri', serif;
    font-size: 18px;
    line-height: 22px;
    color: #eaad54;
    border-right: 1px solid #d3d9db;
    padding: 0 15px;
    display: inline-block;
}

.font_orange {
    font-family: 'Amiri', serif;
    font-size: 18px;
    line-height: 22px;
    color: #eaad54;
    }

.font_slider_orange {
    font-family: 'Amiri', serif;
    font-size: 21px;
    line-height: 58px;
    color: #da8913;
}

.font_slider_vote {
    font-family: 'Work Sans', sans-serif;
    color: #555963;
    font-size: 17px;
    font-weight: bold;
}

.font_slider_vote::before {
    content: "";
    width: 1px;
    height: 20px;
    background: #45474b;
    display: inline-block;
    margin: 0 10px;
    vertical-align: middle;
}


.font_slider_sum {
    font-family: 'Work Sans', sans-serif;
    color: #555963;
    font-size: 17px;
    font-weight: bold;
}

.font_vote {
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
    line-height: 58px;
    color: #555963;
}
.font_yrsa {
    display: block;
    margin-top: 50px;
    font-family: 'Yrsa', serif;
    font-size: 38px;
    line-height: 32px;
    color: #555963;
}

.books_font_grey {
    font-family: 'Ramaraja', serif;
    font-size: 21px;
    line-height: 30px;
    color: #555963;
}
.books_font_orange {
    font-family: 'Amiri', serif;
    font-size: 16px;
    line-height: 30px;
    color: #dd9327;
}
.aboutliterature {
    font-family: 'Lato', sans-serif;
    font-size: 11px;
    line-height: 37.46px;
}
.bookworm {
    font-family: 'Rozha One', serif;
    font-size: 29px;
    line-height: 37.46px;
}
/*.btn {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 32px;
} */
.btn {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    text-align: center;
    font-weight: 400;
    color: #45474b;
    text-decoration: none;
    padding: 10px 60px;
    border: 2px solid #555963;
    background: white;
}
.literature_vote {
    font-family: "Work Sans";
    font-size: 16px;
    line-height: 58px;
    color: #555963;
    display: inline-block;
    vertical-align: bottom;
    padding-left: 10px;
}

.font_comment {
    font-family: 'Ramaraja', serif;
    font-size: 21px;
    line-height: 23px;
    color: #555963;
}
.font_comment_text {
    font-family: 'Yrsa', serif;
    font-size: 21px;
    line-height: 29px;
    color: #555963;
}
.writer_page {
    border-bottom: 1px solid #45474b;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 29px;
    padding-bottom: 10px;
}
.fontcaption_text {
    font-family: 'PT Serif', serif;
    font-size: 17px;
    font-weight: bold;
    line-height: 29px;
    color: #555963;
    font-style: italic;
}

.fontcaption_text::before {
    font-family: 'Ramaraja', serif;
    content: '';
    position: absolute;
    display: inline-block;
    font-size: 57px;
    color: #555963;
    background-image: url("../img/rectangle26.png");
    width: 20px;
    height: 18px;
    margin: -24px 0 0 267px;
}

.fontcaption_grey {
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    color: #bfbfbf;
    line-height: 22px;
}
.text_info {
    font-family: 'Yrsa', serif;
    color: #555963;
    line-height: 29px;
    font-size: 21px;
}

.slide_info {
    min-width: 1060px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}

.block_news {
    padding: 0 50px 0 0;
    width: 236px;
    float: left;
}
.button_all_news {
    text-align: center;

}

.slider_block {
    margin: 150px auto;
    width: 1500px;

}

.container_wrap {
    background-color: #f7fdff;
    width: 100%;
    height: 634px;
    margin-top: 40px;
    margin-bottom: 172px;
}

.slide_block1 {
    width: 68%;
    float: left;
}
.slide_block2 {

    float: left;
}
.slide_block3 {
    background-color: #f7fdff;
    width: 32%;
    float: right;
    box-sizing: border-box;
}
.slide_block3 h1 {
    text-align: left;
}
.popular_series {
    margin: 120px 0 0 0;
    text-align: center;
}

.background_books {
    /* background-image: url("../img/Bitmap.png");
    background-repeat: repeat;
    height: 750px;*/
    padding: 200px 0;
    background-color: #da8913;
}

.clearfix {
    clear: both;
}
.clearfix-visible {
    content: "";
    display: table;
    clear: both;
    width: 100%;
    height: 10px;
}
.container_slider {
    width: 1060px;
}
.popular_book {
    position: relative;
    width: 200px;
    display: inline-block;
    padding: 0 37px 0 40px;
}

.popular-book-text {
    margin-top: 282px;
}

.publishers {
    max-height: 480px;
    margin: 120px auto;
    width: 100%;
}
.description h1 {
    text-align: left;
}
.description {
    float: left;
    width: 30%;
}
.description p{
    margin-bottom: 75px;
}
.partners {
    float: right;
    width: 66%;
}
.partners_block {
    width: 100%;
}
.partners_block li {
    text-align: center;
    width: 160px;
    margin: 20px 15px;
    display: inline-block;
    height: 120px;
   }
.menu_futer {
    width: 100%;
}
.menu_futer hr {
    display: block;
    color: #555963;
    position: relative;
}
.menu_futer {
    height: 50px;
    border-bottom: 1px solid #959ba1;
    padding-bottom: 20px;
}

.menu_futer ul li {
     padding: 20px 50px 20px 0;
    /*border-bottom: solid #959ba1 1px;*/
}
.menu_futer a {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    list-style-type: none;
}
.footer_content {
    width: 100%;
    padding-top: 115px;
}
.footer_section_about {
    width: 100%;
    float: left;
}
.footer_section_active {
    width: 30%;
    float: right;
}
.footer_section_active h2 {
    text-align: left;
}

.footer_section_active input {
background-color: #f2fdff;;
}

.section_about_header {
    width: 47%;
    float: left;
}
.section_about_header h2 {
    padding-bottom: 37px;
    text-align: left;
}

.section_about_header p {
    padding-bottom: 20px;
    font-family: 'Yrsa', serif;
    color: #555963;
    font-size: 19px;
    line-height: 26px;
}
.footer_section_box {
    width: 70%;
    float: left;
    margin: 40px 0 0 0;
}
.section_box {
    display: inline-block;
    width: 25%;
    vertical-align: top;
    margin-bottom: 25px;
}

.section_box p {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 26px;
    color: #4f6569;
}
/*.footer_section_inner_box {*/
    /*margin: 45px 0 0 0;*/
    /*width: 70%;*/
/*}*/
.footer_info {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color: #555963;
}

/*button[type=submit]:hover {
    border: none;
}
*/
.subscribe-form {
    border-bottom: 1px solid rgb(69, 70, 74);
    padding-top: 25px;
}
.subscribe-form input {
    background-color: #f2fdff;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    color: #da8913;
    border: none;
}
.subscribe-form input:focus {
    outline: none;
}
.subscribe-button::before {
    content: "";
    width: 1px;
    height: 15px;
    background: #555963;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
}

.input-text input {
    border: none;
    padding: 5px 0;
    outline: none;
    box-sizing: border-box;
}
.input-text input:focus {
    border-color: #da8913;
    color: #da8913;
}

.input-text input:active {
    border-color: #959ba1;
    color: #959ba1;
}

.shipping-inner {
    width: 170px;
    float: left;
}

.form-input input {
    position: relative;
    margin-left: 10px;
}
.form-control {
    height: 20px;
    width: 206px;
    padding: 5px 5px;
}


.subscribe-button{
    padding-top: 10px;
    float: right;
    background-color: #f2fdff;
    color: #555963;
    border: none;
    cursor: pointer;
}



    .subscribe-button:focus {
    outline: none;
}

.subscribe-button::after {
    background-repeat: no-repeat;
    content: "";
    margin-left: 5px;
    background-image: url(../img/icons_svg/mail.svg);
    width: 21px;
    height: 13px;
    display: inline-block;
}

.social_icon ul li {
    float: left;
    padding: 25px 15px 0 0;
    list-style-type: none;
}
.footer_social {
    float: right;
    width: 30%;
    padding-top: 40px;
}
.footer_social h2{
    text-align: left;
}

.checkbox-design input {
    display: none;
}
.checkbox-design input + label {
    padding-left: 30px;
    position: relative;
}
.checkbox-design input + label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    width: 17px;
    height: 17px;
    border: 1px solid #da8913;
    border-radius: 50%;
}
.checkbox-design input + label::after {
    content: '';
    position: absolute;
    left: 4px;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    width: 11px;
    height: 11px;
    background: transparent;
    border-radius: 50%;
}
.checkbox-design input:checked + label::after {
    background: #da8913;
}

.payment-radio {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #45474b;
    width: 187px;
    height: 29px;
    display: inline-block;
    margin: 35px 80px 0 10px
}
.payment-radio input {
    display: none;
}

.payment-radio input + label {
    padding-left: 30px;
    position: relative;
}

.payment-radio input + label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    width: 17px;
    height: 17px;
    border: 1px solid #da8913;
    border-radius: 50%;
}
.payment-radio input + label::after {
    content: '';
    position: absolute;
    left: 4px;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    width: 11px;
    height: 11px;
    background: transparent;
    border-radius: 50%;
}

.payment-radio input:checked+label::after {
    background: #da8913;
}


/* Далее идет оформление чекбокса в современных браузерах, а также IE9 и выше.
Благодаря тому, что старые браузеры не поддерживают селекторы :not и :checked,
в них все нижеследующие стили не сработают. */

/* Прячем оригинальный чекбокс. */
.checkbox-create-account:not(checked) {
    position: absolute;
    opacity: 0;
}
.checkbox-accept:not(checked) {
    position: absolute;
    opacity: 0;
}


.checkbox-create-account:not(checked) + label {
    position: relative; /* будем позиционировать псевдочекбокс относительно label */
    padding: 0 0 0 35px; /* оставляем слева от label место под псевдочекбокс */
}
.checkbox-accept:not(checked) + label {
    position: relative; /* будем позиционировать псевдочекбокс относительно label */
    padding: 0 0 0 35px; /* оставляем слева от label место под псевдочекбокс */
}
/* Оформление первой части чекбокса в выключенном состоянии (фон). */
.checkbox-create-account:not(checked) + label:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 17px;
    height: 17px;
    border: 2px solid #45474b;
   /* box-shadow: inset 0 2px 3px rgba(0,0,0,.2); */
    background: transparent;
}
.checkbox-accept:not(checked) + label:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 17px;
    height: 17px;
    border: 2px solid #45474b;
    /* box-shadow: inset 0 2px 3px rgba(0,0,0,.2); */
    background: transparent;
}
/* Оформление второй части чекбокса в выключенном состоянии (переключатель). */
.checkbox-create-account:not(checked) + label:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 17px;
    height: 17px;
    border: 2px solid #45474b;
    /* box-shadow: inset 0 2px 3px rgba(0,0,0,.2); */
    background: transparent;
    box-shadow: 0 2px 5px rgba(0,0,0,.3);
    transition: all .2s; /* анимация, чтобы чекбокс переключался плавно */
}
.checkbox-accept:not(checked) + label:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 17px;
    height: 17px;
    border: 2px solid #45474b;
    /* box-shadow: inset 0 2px 3px rgba(0,0,0,.2); */
    background: transparent;
    box-shadow: 0 2px 5px rgba(0,0,0,.3);
    transition: all .2s; /* анимация, чтобы чекбокс переключался плавно */
}
/* Меняем фон чекбокса, когда он включен. */
.checkbox-create-account:checked + label:before {
     background: #da8913;
 }
.checkbox-accept:checked + label:before {
    background: #da8913;
}
/* Сдвигаем переключатель чекбокса, когда он включен. */
/*.checkbox:checked + label:after {
    left: 26px;
}*/
/* Показываем получение фокуса. */
.checkbox-create-account:focus + label:before {
    box-shadow: 0 0 0 3px rgba(255,255,0,.5);
}
.checkbox-accept:focus + label:before {
    box-shadow: 0 0 0 3px rgba(255,255,0,.5);
}

.proceed-checkbox a {
    color: #da8913;
}

.shipping label {
    padding-right: 35px;
}
.leftpart {
    margin-top: 50px;
    float: left;
    width: 50%;
}
.leftpart h2 {
    padding-bottom: 30px;
}
.rightpart {
    margin-top: 100px;
    float: right;
    width: 50%;
}
.form-cart {
    width: 100%;
    padding-top: 42px;
    min-height: 295px;
}

.shipping-method {
    width: 100%;
}
.shipping_left {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    padding-top: 65px;
    width: 50%;
    float: left;
    color: #45474b;
}
.shipping_left h3{
    padding: 9px 45px 0 0;
    float: left;
}

.shipping_right {
    text-align: right;
    width: 50%;
    float: right;
}
.cart-wrap {
    min-height: 400px;
    margin-top: 230px;
}
.cart-wrap h1 {
    text-align: center;
}


.payment-method {
    margin-top: 65px;
}
.payment {
    width: 100%;
    margin-top: 25px;

}
.payment::after {
    content: "";
    width: 100%;
    background-color: #ececed;
    height: 2px;
    display: block;
    margin-top: 86px;

    }


.payment label {
    margin-right: 10px;
}
.coupon-code {
    border-bottom: 1px solid #555963;
    height: 40px;
   }

.coupon-wrap {
    width: 30%;
    float: left;
}
.coupon-code input{
    border: none;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color: #959ba1;
    outline: none;
}
.coupon-code input:focus{
    border-color: #da8913;
    color: #da8913;
}

.coupon-code p {
    font-family: 'Yrsa', serif;
    font-size: 19px;
    color: #555963;
    margin-top: 20px;
}


.coupon_button {
    float: right;
    background-color: white;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #45474b;
}
.coupon_button:focus {
    outline: none;
}
.coupon_button::after {
    background-repeat: no-repeat;
    content: "";
    background-image: url(../img/Rectangle45.png);
    width: 16px;
    height: 14px;
    display: inline-block;
    margin-left: 5px;
}

.coupon_button::before {
    content: "";
    width: 1px;
    height: 20px;
    background: #555963;
    display: inline-block;
    margin: 0 20px;
    vertical-align: middle;

}

.wrap-footer {
    width: 100%;
    background-color: #f2fdff;
    margin: 0 auto;
}

.coupon-form {
    float: left;
    width: 30%;
}
.proceed-wrap {
    float: right;
    width: 45%;
}
.count-form-inner {
    margin-bottom: 80px;
    margin-top: 85px;
    width: 100%;
}

.proceed-checkbox {
    width: 100%;
}
.proceed-checkbox label {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #45474b;
}
.proceed-checkbox a {
    font-family: 'Amiri', serif;
    font-size: 16px;
    color: #dd9327;
    text-decoration: underline;
    text-decoration-color: #dd9327;
}
.form-input {

    width: 100%;
}

.help-block {
    display: none;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color: red;
    padding: 0 0 0 10px;
}
.input-text {
    width: 245px;
    display: inline-block;
    border: none;
    margin: 37px 35px 0 1px ;
}
.input-text .has-success {
    color: darkgreen;
    border-bottom-color: darkgreen;
}
.input-text .has-error {
    color: red;
    border-bottom-color: red;
}

.input-text input {
    width: 245px;
    border-bottom: 1px solid #555963;
    color: #959ba1;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

.input-text-inner {
    width: auto;
    display: inline-block;
    border-bottom: 1px solid #555963;
    margin: 6px 35px 0 12px ;
}
.input-text-inner textarea {
    border: none;
    width: 530px;
    color: #da8913;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    display: block;
    height: 27px;
    outline: none;
}

.required::before {
    position: absolute;
    content: '*';
    display: inline-block;
    color: #ffbb58;
    padding: 0 5px 0 0;
    margin-left: -9px;
}
.gender {
    margin-bottom: 5px;
}
.checkbox-design {

}
.checkbox-design label {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #45474b;
}
.gender h3 {
    padding: 9px 25px 0 0;
    float: left;
}
.create_account {
    width: 220px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #45474b;
    padding-top: 65px;
    margin-right: 60px;
}
.table-cart {
    width: 1140px;
    border-collapse: collapse;
    /*border-spacing: 20px 40px;*/
}
.size-button {
    padding: 10px 56px;
}
.table-header {
    font-family: 'Ramaraja', serif;
    font-size: 18px;
    color: #555963;
}
.table-header td {
    padding: 10px;
}
.del-book {
    width: 1%;
}
.img-table {
    width: 1%;
}
.img-table img {
    vertical-align: middle;
}
.name-book {
    width: 33%;
}
.format {
    width: 30%;
}
.hardback {
    width: 15%;
}

.language {
    width: 15%;
}
.price {
    width: 5%;
}

.quantity-number input {
    border: none;
    background-color: #f5fdff;
    width: 24px;
    text-align: left;
    font-family: 'Yrsa', serif;
    font-size: 25px;
    color: #555963;
}

.quantity-number input:focus {
    outline: none;
}

.minus {
    padding-right: 13px;
}

.tr-container {
    background-color: #f5fdff;
}
.tr-container td {
    padding: 10px 10px;
}


#popup-demo {
    /*margin-top: 100px; */
    background-color: indianred;
    border: 1px red solid;
    width: 60px;
    min-height: 93px;
    max-width: 80%;
    max-height: 80%;
    padding: 20px;
    position: fixed;
    opacity: 0;
    visibility: hidden;

}
/*#popup-demo a {
    position: fixed;
    background: rgba(0, 0, 0, 0.3);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 3;
} */

#popup-demo:target {
    visibility: visible;
    opacity: 1;
}
#inner-userpic img {
    display: block;
}

#login img {

    display: block;
}

#slider-wrap {
    margin: 0 auto;
    max-height: 560px;
}
#slider-wrap-popularseries {
    margin-top: 200px;
    width: 100%;
    height: 500px;
}
.slider-header-book {
    padding-bottom: 300px;
}
/*#slider {*/
    /*margin-top: 50px;*/
/*}*/
#slider-popular {
    margin-top: 50px;
}

/*  ----    */
/*.slide-picture + img {
    opacity: 0;
    position: absolute;
    transition: opacity 0.5s  ;
}*/
.slide-picture + .popular_book {
    opacity: 0;
    position: absolute;
    transition: opacity 0.5s;
}
.slide-picture:checked + .popular_book {
    opacity: 1;
}

.slide-picture + .inner-slider {
    opacity: 0;
    position: absolute;
    transition: opacity 0.5s ;
}

.inner-slide {
    margin-bottom: 80px;
    /*width: 100%;*/
    /*position: absolute;*/
}

.slide-picture:checked + img {
    opacity: 1;
}

.slide-picture:checked + .inner-slider {
    opacity: 1;
}
.inner-login-form {
    margin-top: 55px;
}

.inner-checkbox-remember {
    float: left;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #45474b;
    display: inline-block;
    font-weight: 500;
}
.forgot-password {
    float: right;
    font-weight: 500;
    /*width: 120px;*/
    display: block;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #45474b;
    /*margin: 0 54px 0 54px; */
}

#login-form {
    position: relative;
    width: 1210px;
}
.sign-in input:hover {
    background-color: #da8913;
    color: white;
    transition: color 0.5s ease;
}

.sign-in {
    padding-bottom: 60px;
    text-align: center;
    padding-top: 60px;
}
.sign-in input {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #45474b;
    border: 2px solid #45474b;
    background-color: white;
    padding: 10px 56px 10px 56px;
    /*width: 100px;*/
    /*margin: 50px 150px 80px 150px; */
}
.input-create {
    margin: 0 110px 40px 110px;
    display: block;
    text-align: center;
    border-bottom: 2px solid #45474b;
    font-size: 16px;
    color: #45474b;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    transition: color 0.5s ease;
}

.input-create:hover {
    color: #da8913;
    border-bottom: 2px solid #da8913;
}

.input-create img {
    padding: 0 0 0 15px;
}

.arrow-button:focus {
    border: none;
    outline: none;
}

.arrow-button {
    border: none;
    background-color: white;
}

.inner-login-social {
    padding-top: 15px;
    border-top: 1px solid #959ba1;
}

.inner-login-social h3 {
    margin-top: 30px;
    text-align: center;
}
.login-social {
    width: 172px;
    /*margin: 20px 138px 0 138px; */
}
.login-social a {
    padding: 0 20px 0 20px;
}
.inner-login-email {
    margin-top: 85px;
}
.inner-login-email input {
    border: none;
    border-bottom: 1px solid #45474b;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #959ba1;
    width: 100%;
}
.inner-login-email input:focus {
    outline: none;
}
.inner-login-password {
    /*margin-top: 43px;
    margin-bottom: 36px;*/
}
.inner-login-password input {
    padding-top: 55px;
    border: none;
    box-sizing: border-box;
    width: 100%;
    border-bottom: 1px solid #45474b;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #959ba1;
}
.inner-login-password input:focus {
    outline: none;
}
#wrap-login {
    z-index: 505;
    background: white;
    box-shadow:0 7px 24px #8F8C8D;
    margin: 280px 375px 0 375px;
    width: 460px;
    height: 755px;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    top: 930px;
}
.inner-wrap-login {
    margin: 75px 50px;
}
#wrap-login .transp-back-wrap-login {
    width: 460px;
    height: 755px;
    margin-top: -60px;
    margin-left: -34px;
    position: absolute;
    opacity: 0.9;
    z-index: -1;
    box-shadow: 0 5px 7px #8F8C8D;
    background-color: white;

}
.rectangle-arrow {
    z-index: 4;
    left: 402px;
    position: absolute;
    top: 45px;
}

#wrap-login:target {
    visibility: visible;
    opacity: 1;
}
.wrap-login-substrate {
    left: 20px;
    top: 20px;
    z-index: 8;
    height: 755px;
    box-shadow: 0px 0px 10px #8F8C8D;
    width: 460px;
    position: absolute;
}

#wrap-login p {
    /*padding-top: 75px;*/
    text-align: center;
    font-family: 'Ramaraja', serif;
    font-size: 42px;
    color: #555963;
}
.cover1 {
    box-shadow: 0 0 50px rgba(0,0,0,0.5);
    top: 74px;
    left: 11px;
    position: absolute;
}
.cover2 {
    box-shadow: 0 0 50px rgba(0,0,0,0.5);
    top: 34px;
    left: 25px;
    position: absolute;
}
.cover3 {
    box-shadow: 0 0 50px rgba(0,0,0,0.5);
    position: absolute;

}

.del input {
    border: none;
}
.add input {
    border: none;
}
.tr-container:nth-child(3){
    margin: 10px 0 10px 0;
}
.tr-container {
    display: table-row;
}

/* slider --- */ /*  --------   after delete ---- */

/* #anna-wrap-sl {
    margin-top: 100px;
}

.r {
    position: absolute;
}
.sk + .r {
    opacity: 0;
    position: absolute;
    transition: opacity 0.5s  ;
}
.sk:checked + r {
    opacity: 1;
}
.r {
    position: absolute;
} */


/* -------  */

/* select country */
/* Default custom select styles */
div.cs-select {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    text-align: left;
    background: #fff;
    z-index: 100;
    width: 100%;
    max-width: 245px;
    margin-left: 10px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    /*user-select: none; */
}

div.cs-select:focus {
    outline: none; /* For better accessibility add a style for this in your skin */
}

.cs-select select {
    display: none;
}

.cs-select span {
    display: block;
    position: relative;
    cursor: pointer;
    /*padding: 1em; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Placeholder and selected option */
.cs-select > span {
    font-family: 'Lato', sans-serif;
    color: #959ba1;
    font-size: 16px;
    border-bottom: 1px solid #555963;
    padding-right: 3em;
}
.cs-select > span::after,
.cs-select .cs-selected span::after {
    speak: none;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.cs-select > span::after {
    content: '\25BE';
    right: 1em;
}

.cs-select .cs-selected span::after {
    content: '\2713';
    margin-left: 1em;
}

.cs-select.cs-active > span::after {
    -webkit-transform: translateY(-50%) rotate(180deg);
    transform: translateY(-50%) rotate(180deg);
}

div.cs-active {
    z-index: 200;
    height: 30px;
}

/* Options */
.cs-select .cs-options {
    position: absolute;
    overflow: hidden;
    width: 100%;
    background: #fff;
    visibility: hidden;
}

.cs-select.cs-active .cs-options {
    visibility: visible;
}

.cs-select ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.cs-select ul span {
    /* padding: 1em; */
}

.cs-select ul li.cs-focus span {
    background-color: #ddd;
}

/* Optgroup and optgroup label */
.cs-select li.cs-optgroup ul {
    padding-left: 1em;
}

.cs-select li.cs-optgroup > span {
    cursor: default;
}

div.cs-skin-country {
    background: transparent;
}



/*.cs-skin-elastic.cs-active .cs-options {
    pointer-events: auto;
} */

.cs-skin-country .cs-options > ul::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    -webkit-transform: scale3d(1,0,1);
    transform: scale3d(1,0,1);
    background: #fff;
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.cs-skin-country.cs-active .cs-options > ul::before {
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
    -webkit-transition: none;
    transition: none;
    -webkit-animation: expand 0.6s ease-out;
    animation: expand 0.6s ease-out;
}

.cs-skin-country .cs-options ul li {
    opacity: 0;
    -webkit-transform: translate3d(0,-25px,0);
    transform: translate3d(0,-25px,0);
    -webkit-transition: opacity 0.15s, -webkit-transform 0.15s;
    transition: opacity 0.15s, transform 0.15s;
}

.cs-skin-country.cs-active .cs-options ul li {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    opacity: 1;
    -webkit-transition: none;
    transition: none;
    -webkit-animation: bounce 0.6s ease-out;
    animation: bounce 0.6s ease-out;
    width: 180px;
}


.cs-skin-country .cs-options span {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #959ba1;
    background-repeat: no-repeat;
    background-position: 1.5em 50%;
    background-size: 2em auto;
    padding: 5px 0 0 24px;
}

.cs-skin-country .cs-options span:hover,
.cs-skin-country .cs-options li.cs-focus span,
.cs-skin-country .cs-options .cs-selected span {
    color: #1e4c4a;
}

.cs-skin-country .cs-options .cs-selected span::after {
    content: '';
}

/*slider-header-book*/

/*#slider { !*положение слайдера*!*/
    /*position: relative;*/
    /*!*text-align: center;*!*/
    /*top: 10px;*/
/*}*/

/*#slider{ !*центровка слайдера*!*/
    /*margin: 0 auto;*/
/*}*/

#slides article{ /*все изображения справа друг от доруга*/
    width: 20%;
    float: left;
}

#slides .image{ /*устанавливает общий размер блока с изображениями*/
    width: 500%;
    /*line-height: 0;*/
}

#overflow{ /*сркывает все, что находится за пределами этого блока*/
    width: 100%;
    overflow: hidden;
}

/*article img{ !*размер изображений слайдера*!*/
/*width: 100%;*/
/*}*/

#desktop:checked ~ #slider{ /*размер всего слайдера*/
    max-width: 1160px; /*максимальнная длинна*/
}

/*настройка переключения и положения для левой стрелки*/
/*если свич1-5 активны, то идет обращение к лейблу из блока с id контролс*/
#switch1:checked ~ #controls label:nth-child(5),
#switch2:checked ~ #controls label:nth-child(1),
#switch3:checked ~ #controls label:nth-child(2),
#switch4:checked ~ #controls label:nth-child(3),
#switch5:checked ~ #controls label:nth-child(4){
    background: url('../img/icons_svg/arrow-left.svg') no-repeat; /*заливка фона картинкой без повторений*/
    float: left;
    margin: -289px 0 0 41px; /*сдвиг влево*/
    display: block;
    height: 68px;
    width: 68px;
}

/*настройка переключения и положения для правой стрелки*/
#switch1:checked ~ #controls label:nth-child(2),
#switch2:checked ~ #controls label:nth-child(3),
#switch3:checked ~ #controls label:nth-child(4),
#switch4:checked ~ #controls label:nth-child(5),
#switch5:checked ~ #controls label:nth-child(1){
    background: url('../img/icons_svg/arrow-right.svg') no-repeat; /*заливка фона картинкой без повторений*/
    float: right;
    margin: -198px -60px 0 0; /*сдвиг вправо*/
    display: block;
    height: 68px;
    width: 68px;
}

label, a{ /*при наведении на стрелки или переключатели - курсор изменится*/
    cursor: pointer;
}

.slider-header-book input{ /*скрывает стандартные инпуты (чекбоксы) на странице*/
    display: none;
}

/*позиция изображения при активации переключателя*/
#switch1:checked ~ #slides .image{
    margin-left: 0;
}

#switch2:checked ~ #slides .image{
    margin-left: -100%;
}

#switch3:checked ~ #slides .image{
    margin-left: -200%;
}

#switch4:checked ~ #slides .image{
    margin-left: -300%;
}

#switch5:checked ~ #slides .image{
    margin-left: -400%;
}

#controls{ /*положение блока всех управляющих элементов*/
    margin: -25% 0 0 0;
    width: 100%;
    height: 50px;
}

#active label{ /*стиль отдельного переключателя*/
    border-radius: 10px; /*скругление углов*/
    display: inline-block; /*расположение в строку*/
    width: 15px;
    height: 15px;
    background: #bbb;
}

#active{ /*расположение блока с переключателями*/
    margin: 16% 0 0;
    text-align: center;
}

#active label:hover{ /*поведение чекбокса при наведении*/
    background: #959ba1;
    border-color: #45474b ; /*выполнение в любом случае*/
}

/*цвет активного лейбла при активации чекбокса*/
#switch1:checked ~ #active label:nth-child(1),
#switch2:checked ~ #active label:nth-child(2),
#switch3:checked ~ #active label:nth-child(3),
#switch4:checked ~ #active label:nth-child(4),
#switch5:checked ~ #active label:nth-child(5){
    background: #da8913;
    border-color: #da8913 ;
}

#slides .image{ /*анимация пролистывания изображений*/
    transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

#controls label:hover{ /*прозрачность стрелок при наведении*/
    opacity: 0.6;
}

#controls label{ /*прозрачность стрелок при отводе курсора*/
    transition: opacity 0.2s ease-out;
}

